/*
1. Poscicionamiento
2. Modelo de caja (Box Model)
3. Tipografia
4. Visuales
5. Otros
*/

:root
{
    --color-header: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --color-footer: #F7931A;
    --soft-orange: #FFE9D5;
    --soft-blue: #E7F5FF;
    --secundary-blue: #1A9AF7;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --Grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --text-cards: #808080;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: var(--color-header);
}

header img
{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container
{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1
{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p
{
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button
{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombras */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}

.header--button span
{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icon/FlechaA.png');
}

main
{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container
{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-text-container
{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-text-container h2
{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-text-container p
{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-background-container
{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/img/Bitcoin.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-table-container
{
    display: flex;
    gap: 50px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-currency-table
{
    width: 70%;
    scroll-snap-align: center;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title
{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--color-footer);
}

.currency-table--container
{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table
{
    width: 100%;
    height: 100%;
}

.currency-table--container td
{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--Grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left
{
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right
{
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left
{
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right
{
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right
{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down,
.currency-table--container .up
{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.currency-table--container .down
{
    background-image: url("../assets/icon/trending-down\ 1.png");
}

.currency-table--container .up
{
    background-image: url("../assets/icon/trending-up\ 1.png");
}

.main-currency-table .comision-table--title
{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secundary-blue);
}

.main-currency-table .currency-table-date
{
    width: 190px;
    height: 30px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px;
}

.currency-table-date p
{
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--warm-black);
}

.main-product-detail
{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--batata-logo
{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("../assets/logos/Logosolo.png");
}

.product-detail--title
{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2
{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p
{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--text-cards);
}

.product-detail--card
{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card span
{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.product--card-title
{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
    margin-bottom: 15px;
}

.product--card-body
{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--text-cards);
}

.card-one span
{
    background-image: url("../assets/icon/clock\ 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-two span
{
    background-image: url("../assets/icon/ojo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-three span
{
    background-image: url("../assets/icon/dinero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-four span
{
    background-image: url("../assets/icon/check.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bitcoin-img-container
{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("../assets/img/img-fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2
{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}

.main-plans-container
{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans--title
{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--title h2
{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.plans--title p
{
    padding: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider
{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card
{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recomendado
{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 8px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    font-weight: bold;
    top: -15px;
    border-radius: 8px;
}

.p-one
{
    background-color: var(--color-footer);
    color: var(--just-white);
}

.p-two
{
    background-color: rgb(16, 163, 163);
    color: var(--just-white);
}

.p-three
{
    background-color: rgb(227, 203, 69);
    color: black;
}

.plans-card--title
{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--warm-black);
}

.plans-card--price
{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    color: var(--warm-black);
}

.plans-card--price span
{
    font-size: 1.2rem;
    font-weight: 300;
}

.plans-card--saving
{
    font-size: 1.2rem;
    color: var(--text-cards);
}

.plans-card--ca
{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.8rem;
}

.button-one
{
    background-color: #faf8f7;
    border: 2px solid var(--color-footer);
    color: var(--warm-black);
}

.button-two
{
    background-color: #faf8f7;
    border: 2px solid rgb(16, 163, 163);
    color: var(--warm-black);
}

.button-three
{
    background-color: #faf8f7;
    border: 2px solid rgb(227, 203, 69);
    color: var(--warm-black);
}

.plans-card--ca span
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icon/arrow-right\ 1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}

footer
{
    width: 100%;
    height: 150px;
    background-color: var(--color-footer);
    display: flex;
    justify-content: center;
}

.footer-container
{
    width: 100%;
    max-width: 800px;
    height: auto;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}

.footer-container ul
{
    margin: auto auto auto 30px;
}

.footer-container ul li
{
    list-style: none;
}

.footer-container ul li a
{
    text-decoration: none;
    color: var(--just-white);
}

.image-footer
{
    width: 64px;
    height: 50px;
    margin: auto 30px;
}

.image-footer img
{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}